<% unless @games.empty? %>
  <tr>
    <% @games.each do |game| %>
      <% if game.players.empty? %>
        No players currently in game
      <% else %>
        <ol class="players">
            <% game.players.each do |user| %>
                <li>
                  <%= (user.id == session[:user][:id]) ? 'you' : user.email %>
                </li>
            <% end %>
        </ol>
      <% end #end if %>
    <% end #games loop %>
  </tr>
<% end #unless %>
