<% if cond1 %>
  <% if nestedcond1 %>
    Something <p>something else</p>
  <% elsif nestedcond2 %>
    <h1>Things</h1>
  <% end %>
<% elsif cond3 %>
  <strong>What</strong>
<% else %>
  Final stuff
<% end %>
